import(data.table)
import(logging)
import(parallel)
importFrom(RCurl, getCurlHandle, getURL, getCurlInfo)
importFrom(mongolite, mongo)
importFrom(utils, head, read.csv, write.csv)
importFrom(XML, htmlTreeParse, xpathSApply, xmlValue, xmlAttrs, xmlNode)
importFrom(utils, download.file, untar)
importFrom(stringr, str_trim)
importFrom(jsonlite, toJSON)
importFrom(hash, hash)
importFrom(yaml, as.yaml, yaml.load_file)
importFrom(feather, read_feather, write_feather)
importFrom(sourceR, ParsePackage, FunctionDefinitions, FunctionCalls,
           CodingStyle)

# update
export(CRANIndex, GithubIndex, UpdateIndex)
export(RunGit, ParseDate)

# extract
export(ExtractDescriptionFiles, Descfiles)
export(ReadDescfile, ReadCRANDescfile, ReadGithubDescfile)
export(ExtractDependencies, Dependencies)
export(ExtractRoles, Roles)
export(ExtractNamespaceFiles, Namespaces)
export(ReadCRANNamespace, ReadGithubNamespace)
export(ExtractPackages, Packages)
## export(FilterPackages)

# code
export(ParseCode, ParsePackage)
export(ExtractFunctions, FunctionDefinitions)
export(ExtractFunctionCalls, FunctionCalls)
export(ExtractCodingStyle, CodingStyle)
## export(ResolveFunctionCalls)

# snapshots
export(ListCheckings, ReadChecking, ConvertCSV)
export(SnapshotIndex, CRANCheckHistory, FlavorHistory)

# misc
export(ParseGithubRepositoryName, ParseRepositoryId)
## export(MakeTravisIndex)
