importFrom(stringr, str_trim)
import(data.table)
import(logging)
importFrom(extractoR.github, RunGit)
importFrom(extractoR.data, ParseGithubRepositoryName)

export(ReadDescfile, ReadCRANDescfile, ReadGithubDescfile, Descfiles)
export(ExtractRoles)
export(ExtractDependencies)
export(ReadCRANNamespace, ReadGithubNamespace, Namespaces)
