importFrom(RCurl, getCurlHandle, getURL, getCurlInfo)
importFrom(extractoR.data, ParseGithubRepositoryName)

import(data.table)
import(logging)

export(TestGithubRepository, FetchGithubRepository)
export(MakeRepositoryId)
export(MakeGithubIndex)
export(MakeTravisIndex)
export(RunGit, ParseDate)
