importFrom(ctv, CRAN.views)
import(data.table)
import(logging)
importFrom(extractoR.data, ParseGithubRepositoryName)

export(BrokenPackages)
export(Packages)
export(ExtractTaskViews)
## export(ExtractHttpLog)
