import(data.table)
import(logging)
importFrom(stringr, str_trim)
importFrom(jsonlite, toJSON)
importFrom(extractoR.data, ParseGithubRepositoryName)
importFrom(extractoR.github, RunGit)

export(ReadDescfile, ReadCRANDescfile, ReadGithubDescfile, Descfiles)
export(Dependencies, Roles)
export(ReadCRANNamespace, ReadGithubNamespace, Namespaces)
export(Packages)
export(FilterPackages)
