import(data.table)
import(logging)
import(parallel)
import(extractoR.cran)
import(extractoR.github)
import(extractoR.description)
import(extractoR.namespace)
import(extractoR.extract)
import(extractoR.data)
import(extractoR.content)

export(CRANFetch, GithubFetch)
export(Extract)
export(ParseDescriptionFiles)
export(ParseNamespaceFiles)
export(ParseCode, ExtractFunctions, ExtractFunctionCalls, ExtractCodingStyle)
export(ResolveFunctionCalls)
