import(data.table)
import(logging)
import(parallel)
import(extractoR.cran)
import(extractoR.github)
import(extractoR.description)
import(extractoR.extract)
import(extractoR.data)
import(extractoR.content)
import(extractoR.mongo)
importFrom(mongolite, mongo)
importFrom(utils, head, read.csv)

export(CRANIndex, GithubIndex, UpdateIndex)
export(ExtractDescriptionFiles)
export(ExtractDependencies)
export(ExtractRoles)
export(ExtractNamespaceFiles)
export(ExtractPackages)
export(ParseCode, ExtractFunctions, ExtractFunctionCalls, ExtractCodingStyle)
export(ResolveFunctionCalls)
