importFrom(RCurl, getCurlHandle, getURL, getCurlInfo)
importFrom(XML, htmlTreeParse, xpathSApply, xmlValue)

importFrom(extractoR.utils, ParseArchiveName)

export(FetchCRANList)
export(FetchPackages)
export(FetchLogs)
