importFrom(RCurl, getCurlHandle, getURL, getCurlInfo)
importFrom(XML, htmlTreeParse, xpathSApply)
importFrom(yaml, as.yaml, yaml.load_file)

export(pkglist.cran, pkglist.save, pkglist.load)
export(archive.parse.name, fetch.packages)
