import(data.table)
importFrom(sourceR, ParsePackage, FunctionDefinitions, FunctionCalls,
           CodingStyle)
importFrom(hash, hash)
importFrom(extractoR.data, ParseGithubRepositoryName)
importFrom(extractoR.github, RunGit)
importFrom(logging, loginfo)

export(ParsePackage)
export(FunctionDefinitions, FunctionCalls, CodingStyle)
export(ExplicitCalls, ImplicitCalls)
